<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

    <div>
        Steps:
        {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}


    {{ form_rest(form) }}

    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
    {{ form_end(form) }}
    </body>
</html>
