
{% block body %}
   {% if paymentId  %}
   <p>Thank you for your pament, your payment id is {{ paymentId }}</p>
   {% else %}
   <p>We couldn't process your order, please try again later</p>
   {% endif %}
{% endblock %}
