{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="navigation-wrapper" style="z-index:9999">
            <div class="navigation-container">
                <div class="logo-container">
                    <img src="build/cpd_logo_white-01.png" alt="" />
                </div>
                <div class="text-container">
                    <p>chess puzzle <b>daily</b></p>
                </div>
                <div class="get-started-container"><a href="#getsub">Get started!</a></div>
            </div>
        </div>
        <div class="distancer"></div>
        <!--HEADER-->
        <div class="description-wrapper">
            <div class="left-text-area-container">
                <div class="heading">
                    You like Chess ?
                </div>
                <div class="description">
                    <div class="text">
                        We too. Here we have chess puzzles on <b>daily</b> basis.
                        <br />
                        Consider about joining our large community and get everyday mission
                        for you.
                        <br />
                        Every day you will get <b>e-mail</b> with <b> daily</b> puzzle, and
                        guess what your subscription is totally <b>free!</b>
                    </div>
                    <div class="buttons-container">
                        <a href="#app">See how it works</a>
                        <a href="#getsub">Get subscription!</a>
                    </div>
                </div>
            </div>
            <div class="right-image-container">
                <img src="build/favpng_chess-icon.png" alt="" />
            </div>
        </div>
        <!--END HEADER-->

        <!--SAMPLE PLOČA-->
        <div id="app">
            <App/>
        </div>
        <!--END SAMPLE PLOČA-->

        <!--SUBSCRIPTION BOX-->
        <div class="subscription-box">
            <div class="subscription-description-wrapper">
                <div class="subscription-text">
                    <h1>Do not wait, subscribe now, right below there!</h1>
                    <p>leave your email here and stay tuned and puzzled</p>
                </div>
                <div class="subscription-form">
                    <form action="{{ url('subscribe') }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}"/>
                        <input type="email" name="email" id="email" placeholder="Your Email..." />
                        <input type="text" name="honeypot" style="display:none !important" tabindex="-1" autocomplete="off">
                        <button id="getsub" type="submit">GET SUBSCRIBE</button>
                    </form>
                    <div class="terms-box"></div>
                </div>
            </div>
        </div>

        <!--END SUBSCRIPTION BOX-->

        <!--FOOTER BOX-->
        <div class="footer-wrapper">
            <div class="footer-box">
                <div class="footer-list">
                    <ul>
                        <li>About Us</li>
                        <li>Contact</li>
                        <li>Terms</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--END FOOTER BOX-->
    </div>
{% endblock %}
